.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100vw;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}
/* .navbar_links {
 
  text-decoration: none;
} */
