.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100vw;
  padding: 0 32px;
}
.navbar_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
